@charset "UTF-8";

/* Paleta de cores
    Verde: #49a09d
    Lilás: #5d2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,html {
    background-color: #6a16ca;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}



section#login {
    position: absolute;
    top: 50%;
    left: 50%;
   
    overflow: hidden;

    background-color: white;
    width: 275px;
    height: 540px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);

    transition: width 0.4s, height 0.4s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section#login > div#imagem {
    display: block;
    background: #8f7b9c url(../imagens/pexels-scottwebb-593158.jpg);
    background-size: cover ;
    background-position: left bottom;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;

}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    text-align: center;
    font-size: 1em;
    margin-bottom: 10px;
}

form > div.campo {
    background-color: #5d2c82;

    display: block;
    width: 100%;
    height: 40px;

    border-radius: 5px;
    margin-bottom: 5px;

    padding: 5px;
    color: white;
}

div.campo > label {
    display: none;
}

div.campo > span {
    
    font-size: 2em;
    color: white;
    width: 40px;
    padding: 2px;
}

div.campo > input {
    background-color: #94cfcd;
    font-size: 1em;

    height: 100%;
    width: calc(100% - 73px);

    
   

    border-radius: 8px;
    padding: 5px;

    transform: translateY(-12px);
}

div.campo > input:focus {
    outline: none;
    background-color: #d6e9e8;
    border: 1px solid #191d1d;
}

form > input[type=submit] {
    display: block;
    font-size: 1.3em;
    width: 100%;
    height: 40px;

    background-color: #49a09d;
    color: white;


    border: none;
    border-radius: 5px;

    padding-top: 5px;
    margin-top: 5px;
}

form > input[type=submit]:hover {
    background-color: #2e6664;
    cursor: pointer;
}

form > a.botao {
    display: block;

    text-align: center;
    font-size: 1em;

    width: 100%;
    height: 40px;

    padding-top: 5px;
    margin-top: 5px;
    

    
    border: 1px solid #316b69;
    color: #49a09d;
    background-color: white;

    border-radius: 5px;
    text-decoration: none;
}

form > a.botao > span {
    font-size: 1.5em;

}

form > a.botao:hover {
    background-color: #357e7b;
    color: white;
    cursor: pointer;
}

